.isochroneControl {
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pointsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkboxWrapper {
  margin-bottom: 15px;
}

.buttonContainer {
  padding: 20px 0;
  gap: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.mapClicker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  cursor: pointer;
  color: #3f494e;
  transition: all 0.2s ease;

  &:hover {
    color: #1890ff;
  }

  &.active {
    color: #1890ff;
    transform: scale(1.1);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.deleteBtn {
  display: flex;
  align-items: center;
  color: #3f494e;

  &:hover {
    color: #1890ff;
  }

  &.disable {
    color: #8d9499;
    pointer-events: none;
  }
}
