.isochroneControl {
  padding: 0 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pointsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonContainer {
  padding: 15px 0;
  text-align: end;
}
